:root {
  /* Global Variables */
  --color-text: #f0f0f0; /* Light gray for readability on dark backgrounds */
  --color-subtext: #c2c2c2; /* Softer gray for subtext */
  --color-border: #404040; /* Neutral gray for borders */
  --color-shadow: rgba(0, 0, 0, 0.5); /* Subtle black shadow for cards */
  --color-error: #ff5e5e; /* Vibrant red for error messages */
  --color-primary-button: #2196f3; /* Blue for primary buttons */
  --color-loader: #c723dd; /* Purple for loading animations */

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: linear-gradient(-45deg, #0b0c10, #1a1c23, #121416, #676666);
  background-size: 400% 400%;
  animation: smooth-gradient 10s ease infinite;
  height: 100vh;
  margin: 0;
}

@keyframes smooth-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
